.juego-card {
    width: 428px;
    height: 818px;
    background-color: var(--primary-color);
    border-radius: 32px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    font-size: var(--font-title-mobile);
    cursor: pointer;
    transition: transform 0.2s;
    border:1px solid #CCCCCC;
    padding: 1.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .juego-container__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    background-color: var(--color-azul);
  }

  .juego-card {
    position: relative;
  }

  .img__chatbot{
    position: absolute;
    bottom: 50px;
    right: -21px;
  }