@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  --color-fondo: #F2F2F2;
  --color-texto: #333333;
  --color-principal: #6FCF97;
  --color-secundario: #F2C94C;
  --color-gris: #BDBDBD;
  --color-azul: #182B8F;
  --color-rojo: #DD4F26;
  --color-morado: #6B3C8A;
  --color-celeste: #56CCF2;
  --color-rosa: #E4635E;
  --color-naranja: #EE8031;
  
  --fuente-principal: 'Inter', sans-serif;
}

body {
  font-family: var(--fuente-principal);
  background-color: var(--color-fondo);
  color: var(--color-texto);
}
